<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CountryMapper">

<resultMap type="com.example.domain.Country" id="countryWithCity">
	<id 	property="code" 		  column="country_code"/>
	<result property="name" 		  column="country_name"/>
	<result property="continent" 	  column="country_CONTINENT"/>
	<result property="region" 		  column="country_region"/>
	<result property="surfaceArea"    column="country_SURFACE_AREA"/>
	<result property="indepYear" 	  column="country_INDEP_YEAR"/>
	<result property="population" 	  column="country_POPULATION"/>
	<result property="lifeExpectancy" column="country_LIFE_EXPECTANCY"/>
	<result property="gnp" 			  column="country_GNP"/>
	<result property="gnpOld" 		  column="country_GNP_OLD"/>
	<result property="localname" 	  column="country_LOCALNAME"/>
	<result property="governmentForm" column="country_GOVERNMENT_FORM"/>
	<result property="headOfState" 	  column="country_HEAD_OF_STATE"/>
	<result property="capital" 	 	  column="country_CAPITAL"/>
	<result property="code2" 		  column="country_code2"/>
	<collection property="citys" ofType="com.example.domain.City">
		<id 	property="id" column="city_id"/>
		<result property="name" column="city_name"/>
		<result property="countryCode" column="city_country_code"/>
		<result property="district" column="city_district"/>
		<result property="population" column="city_population"/>

	</collection>

</resultMap>

<select id="selectAllWithCity" resultMap="countryWithCity">
	select  e.code 			  as country_code,
			e.name 			  as country_name,
			e.CONTINENT 	  as country_CONTINENT,
			e.region 		  as country_region,
			e.SURFACE_AREA 	  as country_SURFACE_AREA,
			e.INDEP_YEAR 	  as country_INDEP_YEAR,
			e.POPULATION 	  as country_POPULATION,
			e.LIFE_EXPECTANCY as country_LIFE_EXPECTANCY,
			e.GNP 			  as country_GNP,
			e.GNP_OLD 		  as country_GNP_OLD,
			e.LOCALNAME       as country_LOCALNAME,
			e.GOVERNMENT_FORM as country_GOVERNMENT_FORM,
			e.HEAD_OF_STATE   as country_HEAD_OF_STATE,
			e.CAPITAL 		  as country_CAPITAL,
			e.code2 		  as country_code2,
			c.ID 			  as city_ID,
			c.NAME 			  as city_NAME,
			c.COUNTRY_CODE 	  as city_COUNTRY_CODE,
			c.DISTRICT 		  as city_DISTRICT,
			c.POPULATION 	  as city_POPULATION
	from country e left outer join CITY c
	on e.CODE = c.COUNTRY_CODE
	where e.code = 'KOR'

</select>
<select id="selectPageWithCity" resultMap="countryWithCity">
	select  e.code 			  as country_code,
			e.name 			  as country_name,
			e.CONTINENT 	  as country_CONTINENT,
			e.region 		  as country_region,
			e.SURFACE_AREA 	  as country_SURFACE_AREA,
			e.INDEP_YEAR 	  as country_INDEP_YEAR,
			e.POPULATION 	  as country_POPULATION,
			e.LIFE_EXPECTANCY as country_LIFE_EXPECTANCY,
			e.GNP 			  as country_GNP,
			e.GNP_OLD 		  as country_GNP_OLD,
			e.LOCALNAME       as country_LOCALNAME,
			e.GOVERNMENT_FORM as country_GOVERNMENT_FORM,
			e.HEAD_OF_STATE   as country_HEAD_OF_STATE,
			e.CAPITAL 		  as country_CAPITAL,
			e.code2 		  as country_code2,
			c.ID 			  as city_ID,
			c.NAME 			  as city_NAME,
			c.COUNTRY_CODE 	  as city_COUNTRY_CODE,
			c.DISTRICT 		  as city_DISTRICT,
			c.POPULATION 	  as city_POPULATION
	from country e left outer join CITY c
	on e.CODE = c.COUNTRY_CODE
	offset #{firstItem}-1 rows
	fetch next #{itemsPerPage} rows only

</select>
<select id="selectByCodeWithCity" resultMap="countryWithCity">
	select  e.code 			  as country_code,
			e.name 			  as country_name,
			e.CONTINENT 	  as country_CONTINENT,
			e.region 		  as country_region,
			e.SURFACE_AREA 	  as country_SURFACE_AREA,
			e.INDEP_YEAR 	  as country_INDEP_YEAR,
			e.POPULATION 	  as country_POPULATION,
			e.LIFE_EXPECTANCY as country_LIFE_EXPECTANCY,
			e.GNP 			  as country_GNP,
			e.GNP_OLD 		  as country_GNP_OLD,
			e.LOCALNAME       as country_LOCALNAME,
			e.GOVERNMENT_FORM as country_GOVERNMENT_FORM,
			e.HEAD_OF_STATE   as country_HEAD_OF_STATE,
			e.CAPITAL 		  as country_CAPITAL,
			e.code2 		  as country_code2,
			c.ID 			  as city_ID,
			c.NAME 			  as city_NAME,
			c.COUNTRY_CODE 	  as city_COUNTRY_CODE,
			c.DISTRICT 		  as city_DISTRICT,
			c.POPULATION 	  as city_POPULATION
	from country e left outer join CITY c
	on e.CODE = c.COUNTRY_CODE
	where e.code = #{code}

</select>
</mapper>